.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: absolute;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  .tab button {
    background-color: goldenrod;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 20px;
    transition: 0.3s;   
    width: fit-content;
    margin: 0 0 0 8px;
  }

  input[type=text] {
    width: 95%;
    padding: 5px 20px;
    margin: 5px 5px;
    box-sizing: border-box;
    border-radius: 4px;
  }
  input[type=date]{
    width: 95%;
    padding: 5px 20px;
    margin: 5px 5px;
    box-sizing: border-box;
    border-radius: 4px;
  }

  #passergers{
    width: 95%;
    padding: 5px 20px;
    margin: 5px 5px;
    box-sizing: border-box;
    border-radius: 4px;
  }   

  #search{
    width: 78%;
    padding: 5px 20px;
    margin: 5px 5px 0 16px;
    box-sizing: border-box;
    border-radius: 8px;
    background: green;
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
  }

  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }